.sell-form,
.sell-form h2,
.sell-form h3,
.sell-form p,
.sell-form label,
.sell-form span {
  color: white;
}

.sell-layout {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.9)),
    url("../assets/bg-car.jpg") center/cover no-repeat;
}

.sell-page {
  padding: 40px 80px;
}

.sell-form {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 40px;
}

/* LEFT */
.sell-left {
  background: linear-gradient(180deg, #0cc3d940, #141313);
  padding: 30px;
  border-radius: 14px;
}

.sell-images img {
  width: 100%;
  margin-top: 30px;
  border-radius: 12px;
}

/* RIGHT */
.sell-right section {
  margin-bottom: 25px;
}

/* INPUTS */
input,
textarea {
  background: #1b1b1b;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 6px;
  color: white;
  width: 100%;
}

textarea {
  height: 90px;
}

/* ROW */
.row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

/* RADIO */
.radio-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* FEATURES */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  gap: 12px 30px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.feature-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #00c3d9;
}

/* SUBMIT */
.submit-btn {
  width: 100%;
  background: #00c3d9;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #00b0c5;
}

/* IMAGE UPLOAD */
.image-upload-box {
  border: 2px dashed #555;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.image-upload-box:hover {
  border-color: #00c3d9;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.upload-plus {
  width: 45px;
  height: 45px;
  background: #2b2b2b;
  border-radius: 6px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SMALL SQUARE PREVIEW */
.image-preview {
  margin-top: 15px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #444;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .sell-form {
    grid-template-columns: 1fr;
  }
  .sell-page {
    padding: 20px;
  }
}
